/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 May 2015, 9:44:05 PM
    Author     : Dean
*/

.board {
    -fx-background-image: url("battlefield.png");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
    -fx-background-size: cover, auto;
    -fx-border-width:2px;
    -fx-border-color: -fx-inner-border;
}

.image-view.alien {
    //-fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.4), 9, 0.0, 3, 3);
}

.image-view.bullet {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 9, 0.0, 0, 0);
}

.image-view.missile {
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.5), 11, 0.0, 0, 0);
}
