/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 May 2015, 9:27:44 PM
    Author     : Dean
*/

.play {
    -fx-background-color:#0096FF;
    -fx-shape: "M405.2,232.9L126.8,67.2c-3.4-2-6.9-3.2-10.9-3.2c-10.9,0-19.8,9-19.8,20H96v344h0.1c0,11,8.9,20,19.8,20  c4.1,0,7.5-1.4,11.2-3.4l278.1-165.5c6.6-5.5,10.8-13.8,10.8-23.1C416,246.7,411.8,238.5,405.2,232.9z";
}

.pause {
    -fx-background-color:#0096FF;
    -fx-shape: "M224,435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6   C218.6,448,224,442.6,224,435.8z M371.8,64h-71.6c-6.7,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6c6.7,0,12.2-5.4,12.2-12.2V76.1   C384,69.4,378.6,64,371.8,64z";
}

.play:hover, .pause:hover {
    -fx-background-color: derive(#0096FF,40%);
}

.play:disabled, .pause:disabled {
    -fx-background-color: derive(#0096FF,-40%);
}

.scroll-bar .thumb {
    -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
        -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-base;
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: derive(-fx-base,20%);
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: derive(-fx-base,-20%);
}

.scroll-bar .increment-button:disabled, .scroll-bar .decrement-button:disabled {
        -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
    -fx-body-color: #0096FF;
    -fx-outer-border:#0096FF;
    -fx-inner-border:#0096FF;
}

.scroll-bar:disabled .thumb {
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
    -fx-base: #0096FF;
}