/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06 Jul 2015, 11:54:40 AM
    Author     : Dean
*/

.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: derive(rgb(50, 50, 50),7%);
-fx-control-inner-background: derive(rgb(50, 50, 50),12%);
}



.chart {
    CHART_COLOR_1: #0096C9;
    CHART_COLOR_2: #fba71b;
}
.transparent-chart.chart {
    -fx-opacity:0.8;
}

.transparent-chart.chart:hover {
    -fx-opacity:1;
}

.scroll-bar .thumb {
    -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
        -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
}
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow {
    -fx-background-color: -fx-base;
}
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow {
    -fx-background-color: derive(-fx-base,20%);
}
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-background-color: derive(-fx-base,-20%);
}

.scroll-bar .increment-button:disabled, .scroll-bar .decrement-button:disabled {
        -fx-base: #0096FF;
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
    -fx-body-color: #0096FF;
    -fx-outer-border:#0096FF;
    -fx-inner-border:#0096FF;
}

.scroll-bar:disabled .thumb {
    -fx-background: #0096FF;
    -fx-control-inner-background:  #0096FF;
    -fx-base: #0096FF;
}

